{% extends "base/index.html" %}
{% load staticfiles %}

{% block body %}
{% for field in object_list %}
    <div class="grid-item">
        <figure class="effect-bubba">
            <img src="{{field.radio_logo.url}}" alt="Image" class=""/>
            <figcaption>
                <h2 class="tm-figure-title">{{ field.radio_name }} </h2>
                <p class="tm-figure-description">А потом будет всплывать эта ндпись</p>
                <a href="{% url 'radioview' field.id %}">ТУТ БУДЕТ ССЫЛКА НА РАДИО</a>
            </figcaption>
        </figure>
    </div>
{% endfor %}




{% endblock %}


