{% extends "base/index.html" %}
{% load staticfiles %}

{% block body %}
    <div class="grid-item">
        <figure class="effect-bubba">
            <img src="{% static 'img/tm-img-01-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
            <figcaption>
                <h2 class="tm-figure-title">Проверка <span>Лого</span></h2>
                <p class="tm-figure-description">А потом будет всплывать эта ндпись</p>
                <a href="/radio/2/">ТУТ БУДЕТ ССЫЛКА НА РАДИО</a>
            </figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure class="effect-bubba">
            <img src="{% static 'img/tm-img-01-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
            <figcaption>
                <h2 class="tm-figure-title">Проверка <span>Лого</span></h2>
                <p class="tm-figure-description">А потом будет всплывать эта ндпись</p>
                <a href="/radio/2/">ТУТ БУДЕТ ССЫЛКА НА РАДИО</a>
            </figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure class="effect-bubba">
            <img src="{% static 'img/tm-img-01-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
            <figcaption>
                <h2 class="tm-figure-title">Проверка <span>Лого</span></h2>
                <p class="tm-figure-description">А потом будет всплывать эта ндпись</p>
                <a href="/radio/2/">ТУТ БУДЕТ ССЫЛКА НА РАДИО</a>
            </figcaption>
        </figure>
    </div>
    <div class="grid-item">
        <figure class="effect-bubba">
            <img src="{% static 'img/tm-img-01-tn.jpg' %}" alt="Image" class="img-fluid tm-img">
            <figcaption>
                <h2 class="tm-figure-title">Проверка <span>Лого</span></h2>
                <p class="tm-figure-description">А потом будет всплывать эта ндпись</p>
                <a href="/radio/2/">ТУТ БУДЕТ ССЫЛКА НА РАДИО</a>
            </figcaption>
        </figure>
    </div>



{% endblock %}


