{% if  page_obj.has_previous  %}
    <a href="{% url 'radio:index' %}?page={{page_obj.previous_page_number}}"><== |</a>
{% endif %}

{% if  page_obj.has_other_pages  %}
    {% for pn in page_obj.paginator.page_range %}
        {% if  pn != page_obj.number  %}
            <a href="{% url 'radio:index'%}?page={{ pn }}">{{ pn }}</a>
        {% else %}
            <a href="">{{ pn }} <span class="sr-only">(current)</span></a>
        {% endif %}
    {% endfor %}
{% endif %}

{% if  page_obj.has_next  %}
<a href="{% url 'radio:index' %}?page={{page_obj.next_page_number}}">| ==> </a>
{% endif %}