{% extends 'base/index.html' %}
{% block title_text %}
<h1>Сбросить пароль?</h1>

{% endblock %}

{% block title_text_2 %}
<h2>Система отправит вам на почту специальную ссылку, перейдя по которой, вы сможете ввести новый пароль для своего аккаунта.</h2>
{% endblock %}
{% block body %}

<form action="." method="post">
        <table>
            
            <tr>
                <td><h1> Введите вашу почту</h1> </td>
                <td>{{ form.email }}</td>
            </tr>
            <tr>
                <td></td>
                <td><p style="color:black"><input type="submit" value="Сбросить на почту"></p></td>
            </tr>
        </table>
        {% csrf_token %}
    </form>
{% endblock %}
