{% extends 'base/index.html' %}
{% block title_text %}
<h1>Мы отправили на вашу электронную почту инструкцию по смене пароля</h1>
{% endblock %}
{% block title_text_2 %}
<h2>Если письмо не пришло, пожалуйста, убедитесь что вы ввели правельный email</h2>
<h2><a href="{% url 'account:password_reset' %}">Ввести другой email</a></h2>

{% endblock %}
{% block body %}
<p><h1><a href="{% url 'account:login'%} ">Войти на сайт</a></h1></p>
<p><h1><a href="{% url 'account:registration'%} ">Зарегистрировать новый аккаунт</a></h1></p>
<p><h1><a href="{% url 'radio:index'%} ">На домашную страницу</a></h1></p>
{% endblock %}