{% extends 'base/index.html' %}
{% block title_text %}
<h1>Сброс старого пароля и установка нового</h1>
{% endblock %}
{% block title_text_2 %}
        <p><h1>Пожалуйста, введи новый пароль, дважды:</h1></p>
{% endblock %}
{% block body %}
{% if validlink %}

        <form action="." method="post">
            {% csrf_token %}

            <table>
                {% for field in form %}
                {% for error in field.errors %}
                    <h1 style="color:red">{{ error }}</h1>
                            {% endfor %}

                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>

                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td><p style="color:black"><input type="submit" value="Сохранить"/></p></td>
                    </tr>
            </table>
        </form>
    {% else %}
        <p>Ссылка сброса пароля недопустима. Возможно она уже устарела.</p>
        <p>Пожалуйста,<a href="{% url 'account:password-reset' %}">запросите ссылку заново.</a></p>
    {% endif %}
{% endblock %}